@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* share style */

.text-light-gray {
  color: #727272;
}

.text-light-orange {
  color: #ff900e;
}

main > section {
  margin-top: 100px;
}

.display-flex {
  display: flex;
}

.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600px;
  color: white;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.section-title{
  font-size: 2.8rem;
  font-weight: bold;
}

/* header styles */

/* navbar related style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: bold;
  font-size: 2rem;
}

.nav-link {
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  font-weight: 700;
}

.nav-iteam {
  list-style: none;
}

.navbar,
.banner,
.main {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related style */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: bold;
  font-size: 4rem;
}

.banner-description {
  margin-bottom: 30px;
}
.banner-image {
  width: 100%;
}

/* teams and feature related style */

.teams {
  align-items: center;
  gap: 70px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  max-width: 530px;
}
#quick-list {
  font-weight: 500;
}
.feature-title {
  font-size: 2.7rem;
}

/* Features section start */

#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
  margin-bottom: 20px;
  border-radius: 8px;
}

.feature-card .feature-titile{
  font-size: 1.25rem;
  font-weight: 600;

}



/* some face readated styles */
.some-fact-titile{
  margin: 0px;
}

.some-fact-description{
  margin-top: 24px;
  margin-bottom: 100px;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
}

.fact-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-name{
  margin: 0px;
  font-size: 1.25rem;
  font-weight: 600;
}

/* Our Sponspors section */

.Sponspors-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.Sponspors-titile{
  margin-bottom: 24px;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 150px;

}

.sponsor-companies img{
  filter: grayscale(100%);
}

/* Responsive media query */

@media screen and (max-width: 576px) {
  .navbar,
  .teams {
    flex-direction: column;
    margin-left: 0px;
  }
  .banner-title {
    font-weight: bold;
    font-size: 2.5rem;
  }

  .banner-description {
    padding: 0 10px;
  }
  .team-img-container ,.fact-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-img-container img {
    width: 100%;
  }
  .teams {
    padding: 10px;
  }
  .our-features {
    margin: 0px auto;
  }
  .some-fact-description{
    margin-bottom: 50px;
    margin-top: ;
  }
  main > section {
  margin-top: 50px;
}

  .fact-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
  .fact-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 160px;
  height: 160px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.fact-number{
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-name{
  margin: 0px;
  font-size: 0.9rem;
  font-weight: 600;
}

/* Our Sponspors section */

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px 40px;

}


}
