@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* share style */

.text-light-gray{
  color: #727272;
}

.text-light-orange{
  color: #ff900e;
}

main>section{
  margin-top: 100px;
}

.display-flex{
    display: flex;
}

.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600px;
  color: white;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.section-title{
  font-size: 2.8rem;
  font-weight: bold;
}

/* header styles */

/* navbar related style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.brand {
  font-weight: bold;
  font-size: 2rem;
}

.nav-link {
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  font-weight: 700;
}

.nav-iteam {
  list-style: none;
}

.navbar,.banner,.main {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related style */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: bold;
  font-size: 4rem;
}

.banner-description {
  margin-bottom: 30px;
}
.banner-image {
  width: 100%;
}


/* teams and feature related style */

.teams{
  align-items: center;
  gap: 70px;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.our-features{
  max-width: 530px;
}
#quick-list{
  font-weight: 500;
}
.feature-title{
  font-size: 2.7rem;
}






/* Responsive media query */

@media screen and (max-width: 576px){
  .navbar ,.teams {
    flex-direction: column;
    margin-left: 0px;
  }
  .banner-title {
    font-weight: bold;
    font-size: 2.5rem;
  }

  .banner-description{
    padding: 0 10px;
  }
  .team-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  .team-img-container img{
    width: 100%;
  }
  .teams{
    padding: 10px;
  }
  .our-features{
    margin: 0px auto;
  }
}


/* main start */
